<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand" href="#"><img src="/content/images/StrongLogo2.png" alt="strong logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-angle-double-down"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{#unless username}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                    {{/unless}}
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/whyHDX">Why use HDX?</a>
                    </li>
                    {{#if username}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/product">Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard"> My Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div id="right">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<div id="dashboardPg">
    <h1 class="mt-4">Product List</h1>
    <div class="row">
        <div class="col-12 m-auto">
            <div class="card card-body">
                <h2>Content</h2>
                <table class="table table-striped rounded" style="background: #D4D5D5">
                    <thead class="thead-dark rounded">
                        <tr>
                            <th scope="col">Product Name:</th>
                            <th scope="col">Seller:</th>
                            <th scope="col">Price:</th>
                            <th scope="col">Quantity:</th>
                            <th scope="col">Other stuff:</th>
                            <th scope="col">Also things:</th>
                        </tr>
                    </thead>
                    <tbody id="productTable">
                        <tr>
                            <th scope="row">{{result.[0].Name}}</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>200</td>
                            <td>Kites</td>
                            <td>Bananas</td>
                        </tr>
                        <tr>
                            <th scope="row">{{result.[1].Name}}</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>500</td>
                            <td>Lobster</td>
                            <td>Mangos</td>
                        </tr>
                        <tr>
                            <th scope="row">{{result.[2].Name}}</th>
                            <td>Larry</td>
                            <td>1 million dollars</td>
                            <td>6</td>
                            <td>Trees</td>
                            <td>Cantelope</td>
                        </tr>
                        <tr>
                            <th scope="row">{{result.[3].Name}}</th>
                            <td>Larry</td>
                            <td>1 million dollars</td>
                            <td>6</td>
                            <td>Boats</td>
                            <td>Papaya</td>
                        </tr>
                        <tr>
                            <th scope="row">{{result.[4].Name}}</th>
                            <td>Larry</td>
                            <td>1 million dollars</td>
                            <td>6</td>
                            <td>Sharks</td>
                            <td>Passion Fruit</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>